page-home {

  .slide-zoom {
    height: auto;
    }

    .imageSize{
      max-height: 45px;
      max-width: 45px;
    }

    .titlePosition{
      margin:auto;
      text-align: center;
      //vertical-align: middle;
      font-size: 22px;
      color: color($colors, red);
      font-weight:bold;
    }

}
