page-home {
  .testColor{
    background-color: blue;
  }

  .slide-zoom {
    height: auto;
    }

    .imageSize{
      max-height: 45px;
      max-width: 45px;
    }

    .titlePosition{
      text-align: center;
      vertical-align: middle;
      font-size: 25px;
      color: #f44265;
      font-weight:bold;
    }

}
