<ion-header>
  <ion-navbar>
    <ion-title>
      Account
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<!-- display QR code info after scanning the QR code -->
  <!-- <ion-card *ngIf="result">
    <ion-card-content>
      <p>Text: {{result.text}}</p>
      <p>Format: {{result.format}}</p>
      <p>Cancelled: {{result.cancelled}}</p>
    </ion-card-content>
  </ion-card> -->

  <p *ngIf="this.user" >Username: {{this.username}}</p>
  <img *ngIf="this.user" src={{this.userQR}} />
  <p *ngIf="this.user">User Scord: {{this.userScord}}</p>

  <!-- <button  ion-button round (click)="viewUserInformation()">CheckInfo</button> -->

  <button  ion-button round color="red" *ngIf="this.user" (click)="logOut()">Log Out</button>
  <button  ion-button round color="red" *ngIf="!this.user" (click)="backToWelcome()">Back To Welcome Page</button>

<!-- encode the data to QR code -->
  <!-- <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label floating>Data to Encode</ion-label>
        <ion-input [(ngModel)]="dataTOEncode"></ion-input>
      </ion-item>

      <ion-row>
        <button ion-button clear (click)="encodeData()">Encode</button>
      </ion-row>

    </ion-card-content>
  </ion-card> -->

<!-- display user information and records -->
  <!-- <ion-card *ngFor='let userInfo of displayUserInfo("Bob")'>
    <ion-card-content>
    <ion-card-header>
      {{userInfo.username}}
      {{userInfo.rewardRecords}}
    </ion-card-header>
    *ngFor='let record of showRecordImage({{userInfo.rewardRecords}})' -->
      <!-- <img src={{userInfo.rewardRecords}}/>
    </ion-card-content>
  </ion-card> -->

<!-- fab button for user to scan the QR code -->
  <!-- <ion-fab bottom right>
    <button ion-fab (click)="scanBarcode()">
      <ion-icon name="barcode"></ion-icon>
    </button>
  </ion-fab> -->

</ion-content>
