page-menu {

  .fixTypeContent{
    height: 80px;
    width: 150vw;
  }

  // .slideMargin{
  //   margin-top: 150px;
  // }

  .imageSize{
    max-height: 45px;
    max-width: 45px;
  }

  .titlePosition{
    margin:auto;
    text-align: center;
    //vertical-align: middle;
    font-size: 22px;
    color: #EF2030;
    font-weight:bold;
  }

  .swipedTab-indicatorTab
  {
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3 all;
    -o-transition: 0.3 all;
    transition: 0.3 all;
    transform-origin: top 0 left 0;
    height: 1px;
    position: relative;
    top:-2px;
    background-color: #EF2030 !important;
  }

  .swipedTabs .ion-segment-button
  {
    border: none !important;
    color: gray !important;
    background-color: grey !important;
  }

  .swipedTabs .ion-segment-button .swipedTabs-activeTab
  {
    color: #EF2030 !important;
  }

  .swipedTabs
  {
    border-bottom: solid 1px #e6e6e6 !important;
  }

}
