page-menu {

  .scrollFix{
    height:600px;
  }

  .imageSize{
    max-height: 45px;
    max-width: 45px;
  }

  .titlePosition{
    margin:auto;
    text-align: center;
    //vertical-align: middle;
    font-size: 22px;
    color: color($colors, red);
    font-weight:bold;
  }

  .swipedTab-indicatorTab
  {
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3 all;
    -o-transition: 0.3 all;
    transition: 0.3 all;
    transform-origin: top 0 left 0;
    height: 1px;
    position: relative;
    top:-2px;
    background-color: #EF2030 !important;
  }

  .swipedTabs .ion-segment-button
  {
    border: none !important;

    background-color: color($colors, orange);
  }

  .swipedTabs .ion-segment-button .swipedTabs-activeTab
  {
    color: gray !important;
  }

  .swipedTabs
  {
    width: 800px;
    margin-top: 0px;
  }

  .swipedTabs .scroll-content{
    margin-top: 0px;
  }

  .slidesbar .scroll-content{
    height: 100px;
  }

  .menuFix .scroll-content{
    margin-top: 100px;
  }

  .card-background{
    background-color: color($colors, orange);
  }

}
